p {
  margin: 0;
  padding: 0;
}

.rounds {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &-card {
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
  }

  &-player-info {
    display: flex;
    justify-content: space-around;
  }

  &-title {
    padding: 5px;
    font-weight: 700;
  }

  &__label {
    display: flex;
    justify-content: center;
  }

  &__edit {
    width: 20px;
  }

  &__button {
    all: unset;
    cursor: pointer;
    margin-left: 10px;
  }
}
