.player-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__label {
    display: flex;
    white-space: nowrap;
    font-weight: 600;
  }

  &__input {
    width: 100%;
    margin-left: 10px;
    box-sizing: border-box;
  }

  &__button {
    font-weight: 700;
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #80bd82;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
}
